<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <!-- Creating a form to get values for todo list -->
    <form id="todoForm">
      <!-- Heading for the todo list application -->
      <h1>Todo Application</h1>
      <!-- Description section for todo list application -->
      <div id="descriptionSection">
        <label for="decription">Description</label>
        <input
          type="text"
          name="description"
          placeholder="What do you need to do ?"
          required
        />
      </div>
      <!-- Category section -->
      <div id="categorySection">
        <input />
      </div>
      <!-- Due Date section -->
      <div id="dueDateSection"></div>
      <div id="buttonSection">
        <!-- Add task button -->
        <!-- Delete task button -->
      </div>
      <!-- list of todo list added -->
      <ul id="todoListSection"></ul>
    </form>
  </body>
</html>
